header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 219, 219);
  color: rgb(20, 20, 20);
  font-size: 22px;
  position: relative;
  top: 0;
  width: 100vw;
  height: 20vw;
}
