nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
nav p {
  color: var(--color-granite);
  background-color: var(--color-water-10);
  display: flex;
  padding: 0rem 0.5625rem 0.125rem 0.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 62.4375rem;
  font-feature-settings:
    'clig' off,
    'liga' off;

  /* Label */
  /* font-family: Open Sans; */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}
p.active {
  color: var(--color-foam);
  background-color: var(--color-nemo);
}
nav h2 {
  color: var(--color-granite);
  font-feature-settings:
    'clig' off,
    'liga' off;

  /* Body large */
  /* font-family: Open Sans; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 1.5rem; 150% */
}
h2.active {
  color: var(--color-nemo);
}
nav div {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
