body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Used for texts (+ footer background) */
  --color-granite: #252629;
  /* Used for backgrounds (+ footer text color) */
  --color-foam: #ffffff;
  /* Used for buttons, icons, etc. */
  --color-nemo: #ff4a11;
  /* active color for buttons, icons, etc. */
  --color-nemo-mid: #ff5c29;
  /* hover color for buttons, icons, etc. */
  --color-nemo-dark: #e5430f;
  /* Used for borders and some backgrounds */
  --color-water-10: #e4e8f0;
}
